In [1]:
import numpy as np
import pandas as pd
from interactions_data import create_index, reset_ids
from sklearn.model_selection import train_test_split

In [2]:
path = 'data/goodbooks-10k/'
url = 'https://raw.githubusercontent.com/zygmuntz/goodbooks-10k/master/ratings.csv'

In [3]:
df = pd.read_csv(url)

In [4]:
df.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [6]:
n_users = df.user_id.nunique()
n_items = df.book_id.nunique()
max_score = df.rating.max()
min_score = df.rating.min()

In [7]:
print(n_users, df.user_id.max())
print(n_items, df.book_id.max())
print(min_score, max_score)

53424 53424
10000 10000
1 5

In [8]:
df.shape

(5976479, 3)

### Train / test split

In [9]:
train, test, _, _ = train_test_split(df, df.rating,
                                     test_size = .2,
                                     random_state=42,
                                     stratify=df.user_id)

In [10]:
train.shape

(4781183, 3)

In [11]:
test.shape

(1195296, 3)

In [12]:
train.to_csv(path+'train.csv', index=False)
test.to_csv(path+'test.csv', index=False)